body {
    max-width: 1000px;
    margin: 50px auto;
    text-align: center;
    background-color: rgba(141, 162, 245, 0.637);

}

.container {
    display: flex;  
}

.menu {
    padding-top: 50px;
    width: 250px;
    background-color: #fff;
    height: 700px;
    margin-right: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    
}

.menu button {
    font-size: 20px;
    margin: 20px 10px;
    background-color: rgb(53, 97, 240);
    color: rgb(255, 253, 253);
    padding: 5px 20px;
    border-radius: 5px;
}
.menu button:hover {
    background-color: rgb(45, 31, 243);
 

}

.main {
    font-size: 20px;
    background-color: white;
    width: 800px;
    box-shadow: 0 0 10px rgba(0,0,0,0.5)
}

.calc h2, .timer h2{
    color: blue;
    font-size: 40px;
    margin-bottom: 50px;
}

#calcDate {
    width: 300px;
}

#dateFrom, #dateTo {
    margin-bottom: 20px;
}

.close{
    display: none;
    position: absolute;
}

#formTime input {
    width: 40px;
}

.result {
width: 300px;
height: 100px;
display: flex;
justify-content: center;
align-items: center;
border: 1px solid #000;
margin: 20px auto;
font-size: 40px;
}

#output {
    margin-top: 30px;
}